<!DOCTYPE html>
<html>
<head>
  <title>Railsboys</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">THE IDEA APP</a>
      <ul class="nav">
        <li class="<%= 'active' if controller_name == 'ideas' %>">
          <%= link_to 'New Idea', new_idea_path %>
        </li>
        <li class="<%= 'active' if controller_name == 'pages' %>">
          <a href="/pages/info">Info</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    Rails Boys 2013
  </div>
</footer>

</body>
</html>
